{% extends "base_generic.html" %}

{% block content %}

{% load crispy_forms_tags %}
<!--Register--> 
<div class="container py-5">
	<h1>Register</h1>
	<form method="POST">
		{% csrf_token %}
        <div id="div_id_username" class="control-group">
            <label for="id_username" class="control-label requiredField">
                Username<span class="asteriskField">*</span> </label>
            <div class="controls">
                <input type="text" name="username" value="{% if register_form.username.value %} {{ register_form.username.value}} {% endif %}" maxlength="150" autofocus class="textinput textInput" required
                       id="id_username">
                <div style="font-weight: bold;">{{ register_form.errors.username.0 }} </div>
                <p id="hint_id_username" class="help-block">Required. 150 characters or fewer. Letters, digits and
                    @/./+/-/_ only.</p></div>

        </div>
        <div id="div_id_email" class="control-group"><label for="id_email" class="control-label requiredField">
            Email<span class="asteriskField">*</span> </label>
            <div class="controls"><input type="email" name="email" value="{% if register_form.email.value %} {{ register_form.email.value }} {% endif %}" class="emailinput" required id="id_email"></div>
        </div>
        <div style="font-weight: bold;">{{ register_form.errors.email.0 }} </div>
        <div id="div_id_password1" class="control-group"><label for="id_password1" class="control-label requiredField">
            Password<span class="asteriskField">*</span> </label>
            <div class="controls"><input type="password" name="password1" value="{% if register_form.password1.value %} {{ register_form.password1.value }} {% endif %}" autocomplete="new-password"
                                         class="textinput textInput" required id="id_password1">
                <div style="font-weight: bold;">{{ register_form.errors.password1.0 }} </div>
                <p id="hint_id_password1" class="help-block">
                <ul>
                    <li>Your password can’t be too similar to your other personal information.</li>
                    <li>Your password must contain at least 8 characters.</li>
                    <li>Your password can’t be a commonly used password.</li>
                    <li>Your password can’t be entirely numeric.</li>
                </ul>
                </p> </div>
        </div>
        <div id="div_id_password2" class="control-group"><label for="id_password2" class="control-label requiredField">
            Password confirmation<span class="asteriskField">*</span> </label>
            <div class="controls"><input type="password" name="password2" value="{% if register_form.password2.value %} {{ register_form.password2.value }} {% endif %}" autocomplete="new-password"
                                         class="textinput textInput" required id="id_password2">
                <div style="font-weight: bold;">{{ register_form.errors.password2.0 }} </div>
                <p id="hint_id_password2" class="help-block">Enter the same password as before, for verification.</p>
            </div>
        </div>

        <button class="btn btn-primary" type="submit">Register</button>
	</form>
	<p class="text-center">If you already have an account, <a href="/login">login</a> instead.</p>
</div>

{% endblock %}