{% extends "base_generic.html" %}

{% block content %}
    <!-- content -->
    <div id="diagramContainer" class="container-fluid">
        <h1 class="text-center">Modelado de clases</h1>
        <div class="btn-group my-1 gap-2" role="group" aria-label="Basic example">
            <button id="discardChanges" type="button" class="btn btn-lg btn-primary"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z"/>
                </svg> Deshacer Cambios
            </button>
        </div>
        <div id="myDiagramHolder" class="border border-dark rounded"></div>
    </div>
{% endblock content %}

{% block modals %}
    {% include "modals/class_name_modal.html" %}
    {% include "modals/links_modal.html" %}
{% endblock modals %}

{% block scripts %}

    <script type="text/javascript">

        function randomIntFromInterval(min, max) { // min and max included
          return Math.floor(Math.random() * (max - min + 1) + min)
        }

        function openCreateLink(){
            addOptionToSelect("class_1_link", "", "Seleccione...");
            addOptionToSelect("class_2_link", "", "Seleccione...");

            for(var i = 0; i < graph_json["cells"].length; i++){
                if(graph_json["cells"][i]["type"] === "standard.Rectangle"){
                    var class_name_in_graph = graph_json["cells"][i]["attrs"]["label"]["text"].split('\n--------------------\n')[0];

                    addOptionToSelect("class_1_link", class_name_in_graph, class_name_in_graph);
                    addOptionToSelect("class_2_link", class_name_in_graph, class_name_in_graph);
                }
            }
        }

        var classes = {{ classes|safe }};
        var attributes = {{ attributes|safe }};
        var relations = {{ relations|safe }};

        var namespace = joint.shapes;

        var graph = new joint.dia.Graph({}, { cellNamespace: namespace });

        var paper = new joint.dia.Paper({
            el: document.getElementById('myDiagramHolder'),
            model: graph,
            width: $('#diagramContainer').width(),
            height: 700,
            gridSize: 1,
            cellViewNamespace: namespace
        });

        var i;
        count = 1
        for(i = 0; i < classes.length; i++) {

            var class_name = classes[i]['name'].charAt(0).toUpperCase() + classes[i]['name'].slice(1);

            window[class_name] = load_box(graph, class_name, randomIntFromInterval(0, $('#diagramContainer').width()-150), randomIntFromInterval(0, 600));
        }

        for(i = 0; i < relations.length; i++){
            var relation_phrase = relations[i]['phrase'];
            var class_1 = relations[i]['class_1'].charAt(0).toUpperCase() + relations[i]['class_1'].slice(1);
            var class_2 = relations[i]['class_2'].charAt(0).toUpperCase() + relations[i]['class_2'].slice(1);

            window['relation'+i] = load_link(graph, window[class_1], window[class_2], relation_phrase);
        }

        var new_class_count = 1
        paper.on('blank:pointerdblclick', function(event) {
            var rect_clicked = event.target.getBoundingClientRect();
            var new_class_name = validate_and_correct_class_name(graph, 'NewClass_' + new_class_count);
            window[new_class_name] = load_box(graph, new_class_name, event.clientX - rect_clicked.left, event.clientY - rect_clicked.top);
            new_class_count++;
        });

        paper.on('element:pointerdblclick', function(eleView) {
            var myModal = new bootstrap.Modal(document.getElementById('classNameModal'))
            var class_name_value = eleView.model.attributes.attrs.label.text.split('--------------------')[0];
            $('#class_name_input').val(class_name_value);
            window["editing_class"] = eleView.model;
            $('#classNameModal #cell_id').val(window["editing_class"].id)
            myModal.show();
        });

        paper.on('link:pointerdblclick', function(linkView) {
            var myModal = new bootstrap.Modal(document.getElementById('linksModal'));
            var graph_json = graph.toJSON();
            console.log(linkView);

            var class_1 = graph.getCell(linkView.model.attributes.source.id).attributes.attrs.label.text.split("\n--------------------\n")[0];
            var class_2 = graph.getCell(linkView.model.attributes.target.id).attributes.attrs.label.text.split("\n--------------------\n")[0];

            $('#class_1_link').val(class_1);
            $('#class_2_link').val(class_2);

            window["editing_link"] = linkView.model;
            $('#classNameModal #link_id').val(window["editing_link"].id)

            myModal.show();
        });

        // TOOLSVIEWS
        paper.on('element:mouseenter', function(elementView) {
            elementView.showTools();
        });

        paper.on('element:mouseleave', function(elementView) {
            elementView.hideTools();
        });

    </script>
{% endblock scripts %}