{% extends "base_generic.html" %}

{% block content %}
    <!-- content -->
    <input id="runId" type="hidden" value="{{ run_id }}">
    <div id="diagramContainer" class="container-fluid">
        <h1 class="text-center">Modelado de clases</h1>
        <button id="openNewLinksModal" type="button" onclick="openCreateLink();" class="btn btn-lg btn-primary my-1"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
            </svg> Añadir relación
        </button>
        <button id="openNewLinksModal" type="button" onclick="openRequirementsModal();" class="btn btn-lg btn-primary my-1">Requisitios </button>
        <a type="button" href="{% url 'converter' run_id=run_id %}" class="btn btn-lg btn-primary my-1">Descargar Script SQL</a>
        <div id="myDiagramHolder" class="border border-dark rounded"></div>
        <div class="d-grid gap-2">
            <button class="btn btn-lg btn-primary mt-2" onclick="save_graph(graph);">Guardar Diagrama</button>
        </div>
    </div>
{% endblock content %}

{% block modals %}
    {% include "modals/requirements_modal.html" %}
    {% include "modals/class_name_modal.html" %}
    {% include "modals/new_link_modal.html" %}
    {% include "modals/links_modal.html" %}
{% endblock modals %}

{% block scripts %}

    <script type="text/javascript">

        function randomIntFromInterval(min, max) { // min and max included
          return Math.floor(Math.random() * (max - min + 1) + min)
        }

        function openRequirementsModal(){
            var myModal = new bootstrap.Modal(document.getElementById('requirementsNameModal'));
            myModal.show();
        }

        function openCreateLink(){
            if(!$('#new_link_error_msg').hasClass('d-none')){
                $('#new_link_error_msg').addClass('d-none');
            }
            $('#class_1_new_link').children().remove();
            $('#class_2_new_link').children().remove();
            $('#new_link_mult_class_1').val('');
            $('#new_link_mult_class_2').val('');

            var myModal = new bootstrap.Modal(document.getElementById('newLinksModal'));
            var graph_json = graph.toJSON();

            addOptionToSelect("class_1_new_link", "", "Seleccione...");
            addOptionToSelect("class_2_new_link", "", "Seleccione...");

            for(var i = 0; i < graph_json["cells"].length; i++){
                if(graph_json["cells"][i]["type"] === "standard.Rectangle"){
                    var class_name_in_graph = graph_json["cells"][i]["attrs"]["label"]["text"].split('\n--------------------\n')[0];

                    addOptionToSelect("class_1_new_link", class_name_in_graph, class_name_in_graph);
                    addOptionToSelect("class_2_new_link", class_name_in_graph, class_name_in_graph);
                }
            }

            myModal.show();
        }

        var classes = {{ classes|safe }};
        var attributes = {{ attributes|safe }};
        var relations = {{ relations|safe }};

        var namespace = joint.shapes;

        var graph = new joint.dia.Graph({}, { cellNamespace: namespace });

        var paper = new joint.dia.Paper({
            el: document.getElementById('myDiagramHolder'),
            model: graph,
            width: $('#diagramContainer').width(),
            height: 700,
            gridSize: 1,
            cellViewNamespace: namespace
        });

        var i;
        count = 1
        for(i = 0; i < classes.length; i++) {

            var class_name = classes[i]['name'].charAt(0).toUpperCase() + classes[i]['name'].slice(1);

            var attributes_names = [];
            for(var j = 0; j < attributes.length; j++){
                var attribute_name = attributes[j]['name'] + ': ' + attributes[j]['type'];
                var attribute_class = attributes[j]['class'];

                if(classes[i]['name'] === attribute_class){
                    attributes_names.push(attribute_name);
                }
            }

            window[class_name] = load_box(graph, class_name, randomIntFromInterval(0, $('#diagramContainer').width()-200), randomIntFromInterval(0, 600), attributes_names);
        }

        for(i = 0; i < relations.length; i++){
            var relation_phrase = relations[i]['phrase'];
            var class_1 = relations[i]['class_1'].charAt(0).toUpperCase() + relations[i]['class_1'].slice(1);
            var class_2 = relations[i]['class_2'].charAt(0).toUpperCase() + relations[i]['class_2'].slice(1);

            window['relation'+i] = load_link(graph, window[class_1], window[class_2], relation_phrase);
        }

        var new_class_count = 1
        paper.on('blank:pointerdblclick', function(event) {
            var rect_clicked = event.target.getBoundingClientRect();
            var new_class_name = validate_and_correct_class_name(graph, 'NewClass_' + new_class_count);
            window[new_class_name] = load_box(graph, new_class_name, event.clientX - rect_clicked.left, event.clientY - rect_clicked.top);
            new_class_count++;
        });

        paper.on('element:pointerdblclick', function(eleView) {
            $('#attributes_container').children().remove();

            var myModal = new bootstrap.Modal(document.getElementById('classNameModal'))
            var ele_text_split = eleView.model.attributes.attrs.label.text.split('\n--------------------\n');
            var class_name_value = ele_text_split[0];
            var attributes_from_class = ele_text_split[1].split('\n');

            for(var i = 0; i < attributes_from_class.length; i++){
                if(attributes_from_class[i] != ''){
                    createAttributeInput($('#attributes_container'), attributes_from_class[i].split(': ')[0], attributes_from_class[i].split(': ')[1]);
                }
            }

            $('#class_name_input').val(class_name_value);
            window["editing_class"] = eleView.model;
            $('#classNameModal #cell_id').val(window["editing_class"].id);
            myModal.show();
        });

        paper.on('link:pointerdblclick', function(linkView) {
            var myModal = new bootstrap.Modal(document.getElementById('linksModal'));

            window["editing_link"] = linkView.model;

            $('#relation_text').val(window["editing_link"].attributes.labels[0].attrs.text.text.trim());
            $('#mult_class_1').val('');
            $('#mult_class_2').val('');

            var class_1 = graph.getCell(linkView.model.attributes.source.id).attributes.attrs.label.text.split("\n--------------------\n")[0];
            var class_2 = graph.getCell(linkView.model.attributes.target.id).attributes.attrs.label.text.split("\n--------------------\n")[0];

            $('#class_1_link').val(class_1);
            $('#class_2_link').val(class_2);

            //$('#classNameModal #link_id').val(window["editing_link"].id)

            myModal.show();
        });

        // TOOLSVIEWS
        paper.on('element:mouseenter', function(elementView) {
            elementView.showTools();
        });

        paper.on('element:mouseleave', function(elementView) {
            elementView.hideTools();
        });

    </script>
{% endblock scripts %}