<div class="modal fade" id="linksModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="classNameModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header alert-primary">
        <h5 class="modal-title" id="classNameModalLabel">Editar Relación</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
      </div>
      <div class="modal-body">
          <!--<input type="hidden" id="link_id">-->
          <div class="row">
              <div class="col">
                  <label for="relation_text">Texto de la relación:</label>
                  <textarea id="relation_text" class="form-control" disabled></textarea>
              </div>
          </div>
          <div class="row mt-3">
            <div class="col">
                <label for="class_1_link">Clase 1:</label>
                <input id="class_1_link" class="form-control" type="text" disabled>
            </div>
            <div class="col">
                <label for="class_2_link">Clase 2:</label>
                <input id="class_2_link" class="form-control" type="text" disabled>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col">
                <label for="mult_class_1">Multiplicidad de Clase 1:</label>
                <select id="mult_class_1" class="form-select">
                    <option value="" selected>Seleccione...</option>
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="*">*</option>
                </select>
            </div>
            <div class="col">
                <label for="mult_class_2">Multiplicidad de Clase 2:</label>
                <select id="mult_class_2" class="form-select">
                    <option value="" selected>Seleccione...</option>
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="*">*</option>
                </select>
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Eliminar</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="updateLink(graph, document.getElementById('mult_class_1').value, document.getElementById('mult_class_2').value);">Guardar</button>
      </div>
    </div>
  </div>
</div>