<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #0a4275;">
  <div class="container-fluid">
    <a class="navbar-brand fs-3" href="/">
        <img src="https://i.im.ge/2022/08/03/FC6aWz.MIDAS-Icon.png" alt="" width="50em">
        MIDAS
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMIDAS" aria-controls="navbarMIDAS" aria-expanded="false" aria-label="MIDAS navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarMIDAS">
      <div class="navbar-nav fs-5">
        <a class="nav-link" aria-current="page" href="/dashboard">INICIO</a>
        <a class="nav-link" href="#">DOCS</a>
        <a class="nav-link" href="/api">API</a>
        <a class="nav-link" href="/diagrama">NLP</a>
        <a class="nav-link" href="/diagrama_gpt3">GPT-3</a>
        <a class="nav-link" href="/logout">
            <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
              <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
              <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
            </svg>
        </a>
      </div>
    </div>
  </div>
</nav>